/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/css/estilo.css ***!
  \*****************************************************************************************************************/
body {
  background-color: #444;
  background-image: url(8e195d937320186782c430d98cd1a2a2.jpg);
  background-repeat: no-repeat;
  background-size: center;
  height: 100vh; }

/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/index.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/scss/index.scss ***!
  \******************************************************************************************************************/
.botao {
  background-color: #19b3e6;
  color: #FFF;
  font-size: 1.8em; }

